vpc_id = "${vpc_id}" 
resource_group_id = "${resource_group_id}"
name              = "${name}"
ssh_key_id      = "${ssh_key_id}"
backend_subnet_id         = "${backend_subnet_id}"
frontend_subnet_id = "${frontend_subnet_id}"
services_security_group              = "${services_security_group}"
bastion_maintenance_security_group = "${bastion_maintenance_security_group}"
